:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.App {
  margin-top: 15px;
}

.container{
  background: var(--light-color);
}

.App .navbar-brand {
  font-weight: bold;
  color: var(--light-color);
}

.item {
  color: var(--light-color) !important;
}

.button{
  background: var(--primary-color);
}

.bg-dark{
  background: darkgray;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}



.navbar {
  background: var(--dark-color);
  color: var(--light-color);
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

